img {
	border-radius: 5%;
	z-index: 2;
}
.subject {
	width: 40%;
	min-width: 600px;
	height: 230px;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.subject1 {
	background-color: #538bb0;
}

.subject2 {
	background-color: #3196d9;
}

.subject3 {
	background-color: #19d6ba;
}

.subject4 {
	background-color: #82c0ea;
}

.subject5 {
	background-color: #f18b29;
}

.subject6 {
	background-color: #0a70b5;
}
.subject7 {
	background-color: #b2b7bd;
}
.subject8 {
	background-color: #0a71b577;
}

.subject::after {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 70%;
	background-color: #ffffff1e;
	clip-path: ellipse(61% 60% at 69% 36%);
}

.subject::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100px;
	height: 60%;
	background-color: #ffffff1e;
	clip-path: ellipse(61% 60% at 35% 68%);
}
.container-subject {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media all and (max-width: 1045px) {
	.subject {
		width: 90%;
		min-width: 550px;
	}
	.subject::before {
		width: 70px;
		height: 30%;
	}
	.subject::after {
		width: 150px;
		height: 50%;
	}
	.subject-half img {
		max-height: 200px;
	}
}

@media all and (max-width: 600px) {
	.subject {
		width: 280px;
		min-width: 0px;
		height: 430px;
	}
	.subject-half {
		width: 100% !important;
	}
	.subject::after {
		top: 80px;
		clip-path: ellipse(49% 50% at 50% 50%);
	}
	.cover {
		border-radius: 50px !important;
		bottom: -95% !important;
	}
	.more {
		font-size: 14px;
	}
	.is-active {
		bottom: 0px !important;
		border-radius: 10px !important;
		cursor: default;
	}
}

.subject-half {
	min-height: 200px;
	display: flex;
	padding: 7px;
}

.subject-half:nth-child(1) {
	width: 35%;
}

.subject-half:nth-child(2) {
	width: 65%;
	margin-top: 13px;
}

.subject-half:nth-child(1) {
	align-items: center;
	justify-content: center;
}
.subject-half span {
	width: 100%;
}
.subject-half span .title {
	text-align: center;
}
.subject-half span .subtitle {
	margin-bottom: 10px;
}
.subject-half span,
.subject-half span .title,
.subject-half span .subtitle {
	color: #fff !important;
	z-index: 3;
}
.subject-half span ul li a {
	font-size: 15px;
}
.subject-half span .subtitle a,
.subject-half span a {
	color: #fff !important;
	text-underline-offset: 3px;
	text-decoration: underline #ffffff;
}
.subject-half span .subtitle a:hover,
.subject-half span a:hover {
	text-decoration: underline rgb(0, 0, 0);
}

ul {
	list-style: inside;
}

/*******cover*******/
.cover {
	width: 100%;
	height: 100%;
	padding-top: 30px;
	border-radius: 75%;
	position: absolute;
	left: 0;
	bottom: -90%;
	display: flex;
	justify-content: center;
	transition: all 0.5s;
	z-index: 38;
	background-color: #ffff;
	cursor: pointer;
	transition: all 0.4s;
}

.more {
	height: min-content;
	cursor: pointer;
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
}

.more-is-active {
	background-color: #6bb4e4;
	border-radius: 0 0 50% 50%;
	color: #fff;
}
.fa-chevron-up {
	transition: all 1s;
}

.arrow_is-active {
	transform: rotate(540deg);
}

.is-active {
	bottom: 0px;
	border-radius: 10px;
	cursor: default;
}

.coverContent {
	width: 100%;
	height: 92%;
	text-align: justify;
	padding: 0 10px 0px 10px;
	cursor: auto;
	font-size: 13px;
}
