body {
	overflow: hidden;
}
.image.is-16by9 .has-ratio,
.image.is-16by9 img,
.image.is-1by1 .has-ratio,
.image.is-1by1 img,
.image.is-1by2 .has-ratio,
.image.is-1by2 img,
.image.is-1by3 .has-ratio,
.image.is-1by3 img,
.image.is-2by1 .has-ratio,
.image.is-2by1 img,
.image.is-2by3 .has-ratio,
.image.is-2by3 img,
.image.is-3by1 .has-ratio,
.image.is-3by1 img,
.image.is-3by2 .has-ratio,
.image.is-3by2 img,
.image.is-3by4 .has-ratio,
.image.is-3by4 img,
.image.is-3by5 .has-ratio,
.image.is-3by5 img,
.image.is-4by3 .has-ratio,
.image.is-4by3 img,
.image.is-4by5 .has-ratio,
.image.is-4by5 img,
.image.is-5by3 .has-ratio,
.image.is-5by3 img,
.image.is-5by4 .has-ratio,
.image.is-5by4 img,
.image.is-9by16 .has-ratio,
.image.is-9by16 img,
.image.is-square .has-ratio,
.image.is-square img {
	border-radius: 5px;
	padding: 5px;
}
.home_container {
	min-height: 100vh;
	position: relative;
}

.section_own {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 350px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
}
.infoContainer {
	width: 38%;
	min-height: 100%;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	position: relative;
}
.infoContainer p {
	width: 90%;
}
.icon-info {
	font-size: 25px;
	position: absolute;
	top: 7px;
	right: 7px;
	color: #3196d9b7;
}
.info {
	text-align: justify;
}
.carousel_container_own {
	width: 60%;
	overflow: hidden;
	min-width: 400px;
}
.carousel_item {
	display: flex;
	flex-direction: column;
}
@media all and (max-width: 820px) {
	.section_own {
		padding: 10px;
	}
	.infoContainer {
		width: 100%;
		min-width: 0px;
		padding: 0;
		padding-bottom: 10px;
		height: 50%;
	}
	.infoContainer p {
		width: 100%;
	}

	.carousel_container_own {
		width: 100%;
		min-width: 0px;
	}
}
@media all and (max-width: 500px) {
	.infoContainer p {
		letter-spacing: -1px;
	}
}
/************************/

.fa-play-circle {
	margin-right: 5px;
}
