/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
} 
 
/*-------------Modal---------------*/
.container_company{
  margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    flex-wrap: wrap;
}

.modal_content p{
  text-align: justify;
}
.container_company a h4{
  font-size: 17px;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
}

.modal_link{
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #151728;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  float: right;
  transition: all .5s;
}

.modal_link:hover{
  color: black;
  background-color: #ececec;
}

.button_modal{
  width: 500px;
  height: 310px;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.company{
  background-image: url('../images/pharmagestbio.PNG');
  background-position: center;
  background-size: 210px;
  background-repeat: no-repeat;
}

.group{
  background-image: url('../images/groupe.png');
  background-position: center;
  background-size: 190px;
  background-repeat: no-repeat;
}

.service{
  background-image: url('../images/service.png');
  background-position: center;
  background-size: 230px;
  background-repeat: no-repeat;
}

.skills{
  background-image: url('../images/workexperience.png');
  background-position: center;
  background-size: 230px;
  background-repeat: no-repeat;
}

.modal_a {
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
    transition: all .5s;
    background-color: #ececec;
  }

.modal_a:hover {
  background-size: 280px;
  background-color: #c0c0c0;
}

  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }


  .modal:target {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
    position: fixed;
  }

  .modal_content {
    border-radius: 4px;
    position: relative;
    width: 700px;
    font-size: 20px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
    margin: 25px;
  }
  
  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    text-decoration: none;
  }


/* ---------- GENERAL ---------- */
body{
  line-height:1.3em;
  color: #000000;
  font: 300 100%/1.5em 'Lato', sans-serif;
  min-width: 750px;
  background-color: #ececec14;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: .25em 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin: .33em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 9%;
}

.containerstage {
  height: 560px;
  margin: 0 auto;
  align-content: center;
  top: 50%;
  width: 750px;
  position: relative;
  border: solid white;
}



/* ---------- CALENDAR ---------- */


.calendar {
  text-align: center;
  display: block;
}

.calendar header {
  position: relative;
}

.calendar h2 {
  text-transform: uppercase;
  margin-top: 2%;
}

.calendar thead {
  font-weight: 600;
}

.calendar tbody {
  color: #7c8a95;
}

.calendar a{
  color: black;
}

.calendar tbody td:hover {
  border: 2px solid #00addf;
}

.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
}



.slides {
  display: none;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px 2px 0 2px;
  display: inline-block;
  background: #ddd;
  transition: all 0.3s;
}
.dotpharmagest{
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px 2px 0 2px;
  display: inline-block;
  background: #ddd;
  transition: all 0.3s;
}


.active,
.dot:hover {
  background: #717171;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}

.current-day {
  background: #00addf;
  color: #000000;
}

.tech{
  background: #c3e721;
  color: #000000;
  width: 20px;
}

.formation{
  background-color: blue;
  color: black;
}

.hotline{
    background: #9dcbd8;
    color: #050303;
}

.hotline2{
  background: #1a8faf;
  color: #000000;
}

.atelier{
  background: #db754d;
  color: #000000;
}

.event {
  cursor: pointer;
  /*position: relative;*/
}

.event:after {
  background: #00addf;
  border-radius: 50%;
  bottom: .5em;
  display: block;
  content: '';
  height: .5em;
  left: 50%;
  margin: -.25em 0 0 -.25em;
  position: absolute;
  width: .5em;
}

.event.current-day:after {
  background: #f9f9f9;
}








.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: block;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}




/*****************************************************************************/
.history-tl-container{
  font-family: sans-serif;
  width:65%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #151728;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #151728;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #1517287e;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
  color: #00000098;
}
ul.tl li .item-detail{
    color:rgb(0, 0, 0);
    font-size:0.8em;
    text-align: justify;
    font-weight: normal;
    font-family: sans-serif;
}
ul.tl li .timestamp{
    color: #000000;
    position: absolute;
    width:92px;
    left: -25%;
    text-align: right;
    font-size:0.8em;
}
/*****************************************************************************/

@media all and (max-width: 2300px) {
  .button_modal{
    width: 335px;
  }
}

@media all and (max-width: 1500px) {
  .button_modal{
    width: 310px;
  }
}

@media all and (max-width: 1380px) {
  .button_modal{
    width: 500px;
  }
}

@media all and (max-width: 1100px) {
  .prev, .next{
    top: 20em;
  }

  ul.tl li .timestamp {
    left: -30%;
}
  .history-tl-container {
  margin-left: 5%;
  width: 90%;
  }
  .responsiveli li{
  padding-top: 1.5em;
  padding-left: 0.8em;
  color: white;
  margin-top: 2em;
  font-weight: bold;
  font-size: x-large;
  }

  .history-tl-container ul.tl li {
    margin-left: 20%;
  }

  .button_modal{
    width: 450px;
  }
}


@media all and (max-width: 1000px) {
  .button_modal{
    width: 310px;
  }
}

@media all and (max-width: 800px) {
  .modal_content{
    width: 95%;
  }
}



