body {
  padding: 0;
  margin: 0;
  background-color: #f4ebe2;
  overflow-x: hidden;
  font-family: sans-serif;
}
h2 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  margin: 0;
}

h3{
  color: black;
  margin: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.mess p{
  color: black;
  padding: 10px;
  text-align: justify;
}

.lienarticle{
  text-decoration: none;
  color: white;
  float: right;
  background-color: #0f273f;
  padding: 5px;
  padding-top: 0;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: all .7s;
}

.lienarticle:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 5px 5px 5px black;
}


/*------------------------------------------------*/
.presentation{
  background-image: url("../images/droit.PNG");
  background-size: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  width: 100%;
  height: 65em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************************************/

.gauche {
  float: left;
  height: 200px;
  margin-left: 5%;
  width: 20%;
}
.droite {
  float: right;
  height: 200px;
  margin-right: 5%;
  width: 20%;
}
.mess{
  border: solid;
  width: 60%;
}
.g {
  float: right;
  margin-right: 5%;
}

.d {
  float: left;
  margin-left: 10%;
}

/******************************************IMAGE ARTICLES*******************************************/
.img1{
  background-image: url('../images/juridique/img1.jpg');
}
.img2{
  background-image: url('../images/techno/img2.png');
}
.img{
  background-position: center;
  background-size: cover;
}

@media all and (max-width: 1100px) {
  li {
    padding-top: 1.5em;
    padding-left: 0.8em;
    color: white;
    margin-top: 2em;
    font-weight: bold;
    font-size: x-large;
  }

  .sidebar{
    width: 280px;
    transform: translateX(-290px);
  }

  .closehamburger1{
    left: 6em;
  }
  li:hover{
    color: teal;
  }

  .information-bar ul {
    display: none;
   }

   .menu ul {
    margin-left: 5%;
    padding-left: 0%;
  }

  .menu li {
    padding: 0.7em 0.7em;
  }
  .presentation{
    background-attachment: initial;
    background-size:cover;
    height: 80em;
    }  
    .g{
      margin-right: 1%;
    }
    .d{
      margin-left: 1%;
    }
    .mess{
      width: 70%;
    }
    .gauche{
      margin-left: 1%;
      width: 25%;
    }
    .droite{
      margin-right: 1%;
      width: 25%;
    }
    .img{
      background-size: contain;
      background-repeat: no-repeat;
  }
}

@media (orientation: landscape) and (max-device-width : 640px) {
  .presentation{
    background-attachment: initial;
    background-size:cover;
    height: 80em;
    }  
}
