body {
    margin: 0;
    padding: 0;
    font: 300 100%/1.5em 'Lato', sans-serif;
}


/****************************menudoc*******************************************/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card__wrapper {
    height: 12em;
    width: 13em;
    margin: 3em;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

.card__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    transition: all 0.2s;
    position: relative;
}

.card__image--cobian {
    background-image: url("../images/cobian.JPG");
}

.card__image--3tiers {
    background-image: url("../images/arch3tiers.PNG");
}

.card__image--eon {
    background-image: url("../images/eon.jpg");
}

.card__image--ad {
    background-image: url("../images/ad.jpg");
}

.card__image--dns {
    background-image: url("../images/dns.jpg");
}

.card__image--dhcp {
    background-image: url("../images/dhcp.png");
}

.card__image--nlb {
    background-image: url("../images/nlb.png");
}

.card__image--psi {
    background-image: url("../images/psi.jpg");
}

.card__link {
    margin-top: 0.5rem;
    color: white;
    border-radius: 10px 100px / 120px;
    background-color: #204998;
    padding: 0.5rem;
    margin-bottom: 5%;
}

.card__title {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    width: 90%;
    opacity: 0;
    text-align: center;
}

.card:hover .card__image {
    filter: blur(5px) brightness(0.6);
}

.card:hover .card__title {
    opacity: 1;
}

.container {
    margin: auto;
    width: 98%;
    background-color: #eaeaea;
    background-image: url("../images/windowsserver.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px;
}

.container--responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 1500px;
}

.container--title {
    width: 100%;
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
}


.informations{
  width: 100%;
  background-image: url('../images/baudimont.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px;
  background-color: #eaeaea;
}
.informations p{
  margin-top: 3em;
  text-align: justify;
  width: 88%;
  padding: 1em;
  font-family: sans-serif;
  font-size: 17px;
}
.visio {
    margin-top: 2%;
    padding-left: 1%;
    height: 550px;
    background-image: url("../images/Visio\ infra\ bts\ 2e\ année.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/************************responsive*****************************************************/
@media all and (max-width: 1560px) {
    .container--responsive {
        width: 100%;
    }
}

@media all and (max-width: 1260px) {
    .card__wrapper {
        margin: 2em;
        margin-top: 0;
        margin-bottom: 0;
    }
    .container--responsive {
        width: 90%;
    }
}

@media all and (max-width: 1260px) {
    .card__wrapper {
        margin: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media all and (max-width: 1160px) {
    .sidebar li {
        padding-top: 1.5em;
        padding-left: 0.8em;
        color: white;
        margin-top: 2em;
        font-weight: bold;
        font-size: x-large;
    }
    .information-bar li {
        display: none;
    }
    .sidebar {
        width: 280px;
        transform: translateX(-290px);
    }
    .closehamburger1 {
        left: 6em;
    }
    li:hover {
        color: teal;
    }
    .information-bar ul {
        display: none;
    }
    .container--responsive {
        width: 100%;
    }
}

@media all and (max-width: 1000px) {
    .container--responsive {
        width: 70%;
    }
}
@media all and (max-width: 950px) {
.visio{
  background-image: url('../images/Visio\ infra\ bts\ 2e\ année\ verticale.png');
  background-position: center;
  margin-bottom: 5%;
  margin-top: 5%;
  background-size: contain;
  height: 50em;
}
.informations p{
  padding: 0.5em;
  font-size: 10px;
  width: 85%;
}
.informations{
  background-position: right;
}
h5{
  font-size: 14px;
}
}
@media all and (max-width: 800px) {
    .bio {
        font-size: 0.7em;
    }
    .card__wrapper {
        margin: 1em;
        margin-top: 3em;
        margin-bottom: 0;
    }
}

@media all and (max-width: 718px) {
  .container--responsive {
    width: 100%;
  }
}