body{
  margin: 0;
  padding: 0;
}
.menu {
  background-color: rgb(11, 111, 141);
  width: 100%;
  height: 11vh;
}

/*----------------------------------------------------*/

.container {
  height: 600px;
  margin: auto;
  position: relative;
  border: solid white;
}

.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: block;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px 2px 0 2px;
  display: inline-block;
  background: #ddd;
  transition: all 0.3s;
}

.active,
.dot:hover {
  background: #717171;
}

/*-----------------------------------------------------------------------------------------------------------------*/
.presentation {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  height: 50vh;
  color: white;
  padding-top: 5%;
}


/*----------------------------------------------------------------------------------------------------------------------*/

.coeur {
  margin-left:5%;
  text-align: center;
  background-color: #ff9234;
  color: white;
  border: 0;
  padding: 0.5em 1em;
  font-size: 25px;
  border-radius: 1em;
  outline: 0;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 0 0 rgba(255, 71, 84, 0.7);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.coeur:hover {
  background: #35d0ba;
}

.coeur a {
  color: white;
  text-decoration: none;
}

.slide11{
  /*background-image: url("../images/réseau.png");
  width: 100%;
  height: 480px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  */
  /*border: solid;*/
  width: 33.4%;
  float: left;
  height:39vw;
  background-image: url("../images/testt.jpg");
  background-size: cover;
  background-position: left;
}

button{
  margin-top:1%;
  margin-left: 10px;
}

.buton{
  background-color: rgba(19, 150, 190, 0.315);
  border-radius: 1em;
}

.buton:hover{
  background-color: rgba(13, 99, 126, 0.527);
  border-radius: 1em;
  transition-duration: 0.5s;
}

.buttoninfo{
  background-color: rgba(19, 150, 190, 0.315);
  border-radius: 1em;
}

.buttoninfo:hover{
  background-color: rgba(19, 150, 190, 0.034);
  border-radius: 1em;
  transition-duration: 0.5s;
  transform: rotate(360deg);
}



.buttonSIO2{
  background-color: rgba(13, 99, 126, 0.527);
  border-radius: 1em;
}

.buttonSIO2:hover{
  background-color: rgba(19, 150, 190, 0.034);
  border-radius: 1em;
}

.slide12{
 /* border: solid;*/
  width: 33.3%;
  float: left;
  height:39vw;
  background: url("../images/code.PNG");
  background-size: cover;
  background-position: center;
}

.slide13{
  /*border: solid;*/
  width: 33.3%;
  float: left;
  height:39vw;
  background-image: url("../images/cybersec.PNG");
  background-size: cover;
  background-position: center;
}


.infoslide1{
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50%;
  font-family: sans-serif;
}
.infoslide11{
  margin-top: 6%;
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.coeurslide1 {
  margin-left:28%;
  text-align: center;
  background-color: rgba(19, 150, 190, 0.315);
  color: white;
  border: 0;
  padding: 0.5em 1em;
  font-size: 25px;
  border-radius: 1em;
  outline: 0;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 0 0 rgba(35, 133, 172, 0.966);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.coeurslide1:hover {
  background: rgba(35, 133, 172, 0.966);
}

.coeurslide1 a {
  color: white;
  text-decoration: none;
}

/**/

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
ul {
  list-style: none;
  padding: 0;
  z-index: 2;
}
ul li {
  text-align: center;
  animation: 0.3s print;
}

li a {
  text-decoration: none;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: arial;
  color: white;
}

ul li a:hover {
  color: lightsteelblue;
}

/*on align les elements du menu avec flex notamment*/
.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  animation: fade 0.1s;
}

/*@keyframe pourr les animations */

@keyframes print {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
  }
}

/*--------------------------------------*/
.menuu{
  color: white;
  height: 9%;
  width: 100%;
  padding-top: 0.1%;
}

.menuu ul {
  position: relative;
  display: flex;
  margin: 0;
  margin-left: 35%;
  text-decoration: none;
}

.menuu a {
  margin: 0;
  color: white;
  text-decoration: none;
}
.menuu li {
  border: solid double white;
  list-style: none;
  cursor: pointer;
  color: white;
  font-size: 1.1em;
  padding: 1em 1.5em;
  transition: all 0.1s;
  text-decoration: none;
  display: inline-table;
}

.objectif{
  margin-left: 5%;
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
  color: white;
  width: 40%;
  margin-top: 2%;
}

.prenom{
  margin-left: 5%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 1.8%;
  color: white;
  float: left;
}
/*------------------------------------------------*/
