body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    background-color: #eaeaea;
    width: 100%;
}

p{
    background-color: #f3f3f3;
    padding: 1em;
    border-radius: 5px;
    margin: 15px;
    font-size: 15px;
}

.bugsize{
    font-size: 15px;
}

.container h1{
    text-align: left;
    margin-left: 1em;
    text-transform: uppercase;
}

.container-section1{
    background-color: #eaeaea;
    width: 100%;
    padding-top: 15px;
}

.container-section1 h1{
    text-align: left;
    margin-left: 1em;
    margin-top: 1em;
    text-transform: uppercase;
}

.container h3{
    text-align: left;
    margin-left: 3em;
    text-transform: uppercase;
}
.container h5{
    text-align: left;
    margin-left: 5em;
    text-transform: uppercase;
}

.container-source{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-source ul{
    height: 200px;
    width: 310px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

.container-source ul li{
    font-size: 18px;
    margin-bottom: 7px;
}

.container-source ul li a{
    float: right;
    background-color: #151728;
    color: white;
    transition: all .5s;
    padding:  2px 5px 2px 5px;
    border-radius: 5px;
}

.container-source ul li a:hover{
    background-color: #ffffff;
    color: #151728;
}

.container-source ul li h4{
    margin-bottom: 25px;
    border-bottom: solid #151728;
    text-align: center;
}

.container-news{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}

.news2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 430px;
    height: 504px;
}

.news-section p{
    background-color: white;
}

.news-section{
    background-color: white;
    max-width: 600px;
}

.news2-section{
    width: 100%;
}
.bandeau{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
}

.bandeau h3{
    text-transform: uppercase;
}

.bandeau h4{
    font-size: 13px;
    font-weight:300;
}

.card-news{
    margin-left: 2em;
}


.imgpro{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 4em;
}

.source{
    background-color: white;
}



@media all and (max-width: 1500px) {
    .container-source ul{
        margin-left: 100px;
        margin-right: 100px
    }
}

@media all and (max-width: 1130px) {
   .news2{
       width: 90%;
       height: 300px;
   }
   .news2-section{
       width: auto;
   }
   .news-section{
    max-width: none;
}
}

@media all and (max-width: 1040px) {
    .container-source ul{
        margin-left: 50px;
        margin-right: 50px
    }
    .news2{
        margin-top: 2em;
    }
}

  @media all and (max-width: 970px) {
    .news2{
        width: 100%;
        flex-wrap: nowrap;
    }
    .news2-section{
        width: 300px;
    }
    .container-source ul{
        margin-left: 3px;
        margin-right: 3px;
    }

 }

  @media all and (max-width: 915px) {
    #news span{
        width: 50%;
    }
    .bigsize{
        font-size: 13px;
    }
    .bugsize{
        font-size: 21px;
    }
    .bandeau h4{
        font-size: 18px;
    }
    .card-news{
        font-size: 19px;
    }
  }