body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    background-color: #eaeaea;
    width: 100%;
}


.container p{
    background-color: #f3f3f3;
    padding: 1em;
    border-radius: 5px;
    margin: 15px;
    font-size: 17px;
}



.container h1{
    text-align: left;
    margin-left: 1em;
}

.container h3{
    text-align: left;
    margin-left: 3em;
    text-transform: uppercase;
}
.container h5{
    text-align: left;
    margin-left: 5em;
    text-transform: uppercase;
}

.container-source{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-source ul{
    height: 200px;
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}

.container-source ul li{
    font-size: 15px;
    margin-bottom: 7px;
}

.container-source ul li a{
    float: right;
    background-color: #151728;
    color: white;
    transition: all .5s;
    padding:  2px 5px 2px 5px;
    border-radius: 5px;
}

.container-source ul li a:hover{
    background-color: #ffffff;
    color: #151728;
}

.container-source ul li h4{
    margin-bottom: 25px;
    border-bottom: solid #151728;
    text-align: center;
}

.container-news{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#news{
    display: flex;
    flex-wrap: wrap;
}

.source{
    background-color: white;
}

@media all and (max-width: 1800px) {
    #news{
        width: 500px;
    }
}

@media all and (max-width: 1358px) {
    #news{
        width: auto;
    }
}

@media all and (max-width: 1118px) {
    .container-source ul{
         margin-left: 100px;
         margin-right: 100px;
    }
  }

  @media all and (max-width: 915px) {
    .container-source ul{
        margin-left: 50px;
        margin-right: 50px;
    }
    #news span{
        width: 50%;
    }
  }
  @media all and (max-width: 720px) {
    .container-source ul{
        margin-left: 5px;
        margin-right: 5px;
    }
  }