body {
  margin: 0;
  padding: 0;
}
.menu {
  position: relative;
  margin: auto;
  /*juste en dessous modifier le width pour modifier la largeur de la bar*/
  width: 100%;
  height: 180px;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
.titre{
  text-align: center;
  color: white;
  margin: 0;
  margin-left: 6em;
  margin-top: 0.5em;
}



.information-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #151728;
}




.profile {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 25px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #151728;
}

.name {
  color: white;
  margin-left: 0.1em;
  font-size: 1.4em;
}

div.information-bar ul {
  position: relative;
  width: 65%;
  display: flex;
  padding-left: 10em;
  height: 100%;
  margin: 0;
  font-size: 1em;
}


/*----------------------------------------------------*/

.container {
  height: 600px;
  position: relative;
}

.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 3px 3px 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  display: block;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 10px 2px 0 2px;
  display: inline-block;
  background: #ddd;
  transition: all 0.3s;
}

.active,
.dot:hover {
  background: #717171;
}

/*-----------------------------------------------------------------------------------------------------------------*/
.presentation {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  height: 50vh;
  color: white;
  padding-top: 5%;
}

/*----------------------------------------------------------------------------------------------------------------------*/


.slide11 {
  /*background-image: url("../images/réseau.png");
  width: 100%;
  height: 480px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  */
  /*border: solid;*/
  width: 33.4%;
  float: left;
  height: 38em;
  background-image: url("../images/test.JPG");
  background-size: cover;
  background-position: left;
}


.slide12 {
  /* border: solid;*/
  width: 33.3%;
  float: left;
  height: 38em;
  background: url("../images/cybersec.PNG");
  background-size: cover;
  background-position: center;
}

.slide13 {
  /*border: solid;*/
  width: 33.3%;
  float: left;
  height: 38em;
  background-image:url("../images/code.PNG");
  background-size: cover;
  background-position: center;
}


.infoslide11 {
  margin-top: 6%;
  font-family: sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.coeurslide1 {
  margin-left: 30%;
  text-align: center;
  background-color: rgba(19, 150, 190, 0.315);
  color: white;
  border: 0;
  padding: 0.5em 1em;
  font-size: 25px;
  border-radius: 1em;
  outline: 0;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 0 0 0 0 rgba(35, 133, 172, 0.966);
  animation: battement 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.coeurslide1:hover {
  background: rgba(35, 133, 172, 0.966);
}

.coeurslide1 a {
  color: white;
  text-decoration: none;
}

/**/
.titresection{
  color: white;
  font-size: 3em;
  font-weight: bold;
  font-family: Arial;
  border-bottom: 1px solid white;
}

.titresection:hover{
  color: #0b6f8d;
}

.titresectionavenir{
  color:rgb(128, 126, 126);
  font-size: 3em;
  font-weight: bold;
  font-family: Arial;
  border-bottom: 1px solid white;
}

.titresectionavenir:hover{
  color:rgb(29, 29, 29);
}

ul.avenir li a {
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: arial;
  color: rgb(128, 126, 126);
}

ul.avenir li a:hover {
  color: rgb(29, 29, 29);
}


nav {
  position: absolute;
  height: 38em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
ul {
  margin-left: 3%;
  list-style: none;
  padding: 0;
  z-index: 2;
  
  /*border: 1px  solid white;*/
}
ul li {
  text-align: center;
  animation: 0.3s print;
}

li a {
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: arial;
  color: white;
}

ul li a:hover {
  color: #0b6f8d;
}

/*on align les elements du menu avec flex notamment*/
.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  animation: fade 0.1s;
}

.hamburger {
  position: absolute;
  top: 8em;
  right: 35px;
  cursor: pointer;
  display: block;
}

.closehamburger{
  position: absolute;
  top: 8em;
  right: 35px;
  cursor: pointer;
  display: none;
}

.closehamburger span{
  display: block;
  width: 30px;
  height: 0.3rem;
  margin: 0.3rem 0;
  background-color: #fffdfd;
  border-radius: 5px;
}


.hamburger span {
  display: block;
  width: 30px;
  height: 0.3rem;
  margin: 0.3rem 0;
  background-color: #fffdfd;
  border-radius: 5px;
}




/*@keyframe pourr les animations */

@keyframes print {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes battement {
  to {
    box-shadow: 0 0 0 30px rgba(255, 71, 84, 0);
  }
}


.titreresponsive{
  color: white;
  text-align: center;
  display: none;
}

.responsiveinfoslide12{
  height: 60%;
}
/*------------------------------------------------*/

@media all and (max-width: 1270px) {
  .titre{
    display: none;
  }
  .titreresponsive{
    display: block;
  }
  .responsiveinfoslide12{
    height: 50%;
  }
  .coeurslide1 {
    margin-left: 25%;
  }
}
@media all and (max-width: 1100px) {
  .slide11 {
    height: 60em;
  }
  .slide12 {
    height: 60em;
  }
  .slide13 {
    height: 60em;
  }
  .prev,
  .next {
    top: 30em;
  }

  .infoslide1 {
    margin-top: 12em;
  }
  .backdrop {
    height: 60em;
  }

  .coeurslide1 {
    margin-left: 20%;
  }
  .responsiveinfoslide12{
    height: 60%;
  }
}

@media all and (max-width: 900px) {
  .titre{
    display: none;
  }
  .titreresponsive{
    display: block;
  }
  .responsiveinfoslide12{
    height: 50%;
  }
  .coeurslide1 {
    margin-left: 10%;
  }
  ul li {
    padding: 0.5em;
}
}