body {
  padding: 0;
  margin: 0;
  background-color: #5e3311;
  overflow-x: hidden;
  font-family: sans-serif;
}
h5 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  margin: 0;
}


/*---------------------------Home Page--------------------*/
.menu {
  position: relative;
  margin: auto;
  /*juste en dessous modifier le width pour modifier la largeur de la bar*/
  width: 100%;
  height: 250px;
  background-image: url("../images/baudimont.PNG");
  background-color: white;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

.information-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #151728;
}

.information-bar ul {
 display: flex;
}


.profile {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  left: 25px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #151728;
}

.name {
  color: white;
  margin-left: 0.1em;
  font-size: 1.4em;
}

ul {
  position: relative;
  width: 100%;
  display: flex;
  padding-left: 10em;
  height: 100%;
  margin: 0;
  font-size: 1em;
  font-family: sans-serif;
}

.a {
  margin: 0;
}
li{
  list-style: none;
  cursor: pointer;
  color: #d5d5d8;
  font-size: 1.1em;
  padding-top: 1.5em;
  padding-left: 1em;
  transition: all 0.1s;
}

li:hover,
.active {
  color: white;
}

.hamburger {
  position: absolute;
  top: 13em;
  right: 35px;
  cursor: pointer;
  display: block;
}

.closehamburger2{
  position: absolute;
  top: 13em;
  right: 35px;
  cursor: pointer;
  display: none;
}

.closehamburger2 span{
  display: block;
  width: 30px;
  height: 0.3rem;
  margin: 0.3rem 0;
  background-color: #fffdfd;
  border-radius: 5px;
}
.closehamburger1{
  font-size: -webkit-xxx-large;
  position: absolute;
  top: 0.5em;
  left: 5em;
  cursor: pointer;
  transform: translateX(-20em);
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 0.3rem;
  margin: 0.3rem 0;
  background-color: #fffdfd;
  border-radius: 5px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 100vh;
  background-color:#151728;;
  transform: translateX(-218px);
  transition: all .2s;
}

.sidebar.open {
  transform: translateX(0);
}

.closehamburger1.open {
  transform: translateX(0);
}
/*------------------------------------------------*/
.presentation{
  background-image: url("../images/droit.PNG");
  background-size: unset;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  width: 100%;
  height: 65em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****************************************************/
.gauche {
  float: left;
  height: 200px;
  margin-left: 5%;
  width: 30%;
  border: solid;
  background-color: cornflowerblue;
  background-image: url("../images/article.PNG");
  background-size: cover;
}
.droite {
  float: right;
  height: 200px;
  margin-right: 5%;
  width: 30%;
  border: solid;
  background-image: url("../images/article.PNG");
  background-size: cover;
}

.messg {
  border: solid;
  width: 50%;
  float: right;
  height: 200px;
  margin-right: 5%;
}

.messd {
  border: solid;
  width: 50%;
  float: left;
  height: 200px;
  margin-left: 10%;
}

@media all and (max-width: 1100px) {
  li {
    padding-top: 1.5em;
    padding-left: 0.8em;
    color: white;
    margin-top: 2em;
    font-weight: bold;
    font-size: x-large;
  }

  .sidebar{
    width: 280px;
    transform: translateX(-290px);
  }

  .closehamburger1{
    left: 6em;
  }
  li:hover{
    color: teal;
  }

  .information-bar ul {
    display: none;
   }

   .menu ul {
    margin-left: 5%;
    padding-left: 0%;
  }

  .menu li {
    padding: 0.7em 0.7em;
  }
  .presentation{
    background-attachment: initial;
    background-size:cover;
    height: 80em;
    }  
}

@media (orientation: landscape) and (max-device-width : 640px) {
  .presentation{
    background-attachment: initial;
    background-size:cover;
    height: 80em;
    }  
}
