body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.presentation{
  height: 100vh;
  width: 100%;
  background-image: url('../images/smartcities2.jpg');
  background-position: center;
  background-size: cover;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151728;
  color: white;
}

.title h1{
  text-transform: uppercase;
}
.paragraphe{
  background-color: #eaeaea;
  padding: 10px;
  text-align: justify;
}
.paragraphe h2{
  margin: 0;
  margin-left: 2em;
}
.paragraphe p{
  padding: 1em;
  background-color: #f3f3f3;
  border-radius: 7px;
  font-size: 20px;
}

.container_source{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.source_column{
  width: 500px;
  text-align: justify;
  margin: 15px;
}

.source_column p{
  font-size: 20px;
}

.source h2{
  margin-left: 2em;
}

.container_artical{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container_artical h2{
  margin-left: 2em;
}