body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.presentation{
  height: 100vh;
  width: 100%;
  background-image: url('../images/droit.PNG');
  background-position: center;
  background-size: cover;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151728;
  color: white;
}

.title h1{
  text-transform: uppercase;
  text-align: center;
}
.paragraphe{
  background-color: #eaeaea;
  padding: 10px;
  text-align: justify;
}
.paragraphe h2{
  margin: 0;
  margin-left: 2em;
}
.paragraphe p{
  padding: 1em;
  background-color: #f3f3f3;
  border-radius: 7px;
  font-size: 20px;
  text-align: justify;
}

.container_source{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.source_column{
  width: 500px;
  text-align: justify;
  margin: 15px;
}
.source_column a:hover{
  color: black;
}

.source_column p{
  font-size: 20px;
}

.source h2{
  margin-left: 2em;
}




/***********Articles********************/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eaeaea;
  overflow: hidden;
  height: 0;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a{
  padding: 5px;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all .5s;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.overlay a:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.artical{
  width: 100%;
}
.artical h2{
  color: black;
  margin-left: 2em;
}
.container-artical {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  flex-wrap: wrap;
}
.artical-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 300px;
  position: relative;
  width: 100%;
}
.artical-item p {
  font-size: 15px;
  color: black;
  text-align: justify;
}
.artical-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin: 15px;
}
.artical-title{
  background-color: #f3f3f3;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.artical-title h4 {
  font-size: 20px;  
  text-transform: uppercase;
  color: black;
  text-align: center;
}
.artical-item:hover .overlay {
  height: 100%;
  padding: 20px;
}





@media all and (max-width: 1078px) {
  .source_column{
    width: 700px;
  }

  .source_column p{
    font-size: 23px;
  }

  .artical-item p {
    font-size: 20px;
  }

  .artical-card{
    width: 750px;
  }
}

.art1{ 
  background: url('../images/juridique/img1.jpg'); 
  background-size: cover; 
}

.art2{
  background-image: url('../images/techno/img2.png');
  background-size: cover;
}/*
.art3{
  background-image: url('../images/techno/img3.jpg');
  background-size: cover;
}
.art4{
  background-image: url('../images/techno/img4.png');
  background-size: cover;
}
.art8{
  background-image: url('../images/techno/img8.png');
  background-size: cover;
}*/
.art{
  background-image: url('../images/article.PNG');
  background-size: cover;
}
