body{
  background-image: url("../images/droit.PNG");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;  
}

h5{
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5:hover{
  color: white;
}

h3{
  margin: 1%;
  margin-left: 0;
}
.haut{
  height: 720px;
}

.menu{
  height: 9%;
  width: 100%;
  border: double;
}


/*--------------------------------------*/
ul {
  position: relative;
  display: flex;
  padding-left: 200px;
  margin: 0;
  margin-left: 5%;
  text-decoration: none;
}

a {
  margin: 0;
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
  cursor: pointer;
  color: black;
  font-size: 1.1em;
  padding: 1em 1.5em;
  transition: all 0.1s;
  text-decoration: none;
  display: inline-table;
}

li:hover,
.active {
  color: white;
}
/*------------------------------------------------*/

.centrer{
  margin-top: 20%;
}


.gauche{
  float: left;
  height: 200px;
  margin-left: 15%;
  width: 23%;
  border: solid;
  background-image: url("../images/article.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}
.droite{
  float: right;
  height: 200px;
  margin-right: 15%;
  width: 23%;
  border: solid;
  background-image: url("../images/article.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.messg{
  border: solid black;
  width: 47%;
  float: right;
  height: 300px;
  margin-right: 10%;
  background-color: darkgreen;
  color: white;
}

.messd{
  border: solid black;
  width: 47%;
  float: left;
  height: 300px;
  margin-left: 10%;
  background-color: darkgreen;
  color: white;
}

@media all and (max-width: 1100px) {
  #body{
    background-image: url("../images/droit.PNG");
    background-attachment: fixed;
   background-size: cover;
   background-position: center;  
  }
  #centrer{
    margin-top: 80%;
  }
  #haut{
      height: 2100px;
  }

}
