<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Stage SIO</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css”>
    <link rel="stylesheet" href="./css/styleCalendrier.css" type="text/css" />
    <link rel="stylesheet" href="./css/stylehomepage.css" type="text/css" />
    <link rel="stylesheet" href="./css/footer.css" type="text/css" />
    <link rel="stylesheet" href="./css/menu.css" type="text/css" />
    <script src="https://kit.fontawesome.com/b8f4ab5226.js" crossorigin="anonymous"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
</head>

<body>
    <div class="page">
        <div class="menu">
            <div class="information-bar">
                <ul>
                    <p class="name">Jean Paris BTS SIO 2</p>
                    <a href="SIO.html">
                        <li>SIO</li>
                    </a>

                    <a href="StageSio.html">
                        <li>Stage</li>
                    </a>
                    <a href="VeilleTechno.html">
                        <li>Veille : Technologique</li>
                    </a>
                    <a href="VeilleJuridique.html">
                        <li>Veille : Juridique</li>
                    </a>
                    <li style="margin-left: 40px;">|</li>
                    <a href="index.html">
                        <li>Home</li>
                    </a>
                    <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:bd9c33be-9578-46c2-90ec-b214654601e9">
                        <li>CV</li>
                    </a>
                    <a href="Info.html">
                        <li>A propos</li>
                    </a>
                </ul>
                <div class="profile">
                    <img src="images/jean.JPG">
                </div>
            </div>
        </div>
        <span class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        </span>

        <span class="closehamburger2">
        <span></span>
        <span></span>
        <span></span>
        </span>

        <span class="closehamburger1">
      x
      </span>

        <div class="sidebar">
            <div class="espace"></div>
            <a href="SIO.html">
                <div class="onglet">
                    <i class="fas fa-graduation-cap"></i> SIO
                </div>
            </a>
            <a href="StageSio.html">
                <div class="onglet">
                    <i class="fas fa-building"></i> Stage
                </div>
            </a>
            <a href="VeilleTechno.html">
                <div class="onglet">
                    <i class="fas fa-city"></i> veille technologique
                </div>
            </a>
            <a href="VeilleJuridique.html">
                <div class="onglet">
                    <i class="fas fa-book"></i> veille juridique
                </div>
            </a>
            <div class="espace"></div>
            <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:bd9c33be-9578-46c2-90ec-b214654601e9">
                <div class="onglet">
                    <i class="far fa-address-card"></i> CV
                </div>
            </a>
            <a href="index.html">
                <div class="onglet">
                    <i class="fas fa-home"></i> Home
                </div>
            </a>
            <a href="info.html">
                <div class="onglet">
                    <i class="fas fa-info-circle"></i> A propos
                </div>
            </a>
            <div class="espace"></div>
        </div>

        <span class="slidespharmagest">
      <div class="bioo">
        <div class="infoslidespharmagest">
          <h1 class="titre">Pharmagest </h1>
          <a href="https://pharmagest.com/qui-sommes-nous/groupe-pharmagest/" style="color: #70b121; text-align: center; margin-bottom: 2%; display: block;">(Voir le site)</a>
          Stage de 2e année du BTS SIO (2020)</br>
          <b>Durée :</b> 7 semaines du 4 Janvier au 19 Février 2021</br></br>
          Pharmagest est une entreprise du domaine informatique spécialisée dans les pharmacies/ les officines ...
          Pharmagest est divisée en 20 sites dans la France avec les Antilles. 
          </br></br>J'effectue mon stage à l'agence Pharmagest Cuincy qui est en charge de la région Haut de France</br>
          <b>Localisation :</b> Zac de la Haute Rive, 59553 Cuincy</br></br>
          <b>Quelques chiffres :</b></br>
          <b>CA des 3 premiers semestres de 2020 :</b> 127.7M </br>
          <b>CA annuel 2019 :</b> 158.55M </br>
          <b>Groupe :</b>La cooperative Welcoop (3e Slide)
          
        </div>
        <video class="videoslide1" muted autoplay loop width="70%" height="100%">      
          <source src="./vidéos/pharmagest.mp4"type="video/mp4">
      </video>
      </div>
        </span>

        <span class="slidespharmagest">
        <div class="slidespharmagest2">
          <div class="infoslides2pharmagest">
            <h2>L'agence Régionale :</h2>
            </br>Elle dispose de plusieurs services :</br></br>
            <h3 class="servicespharmagest">L'atelier divisé en 2 parties :</h3>
            SAV et Préparation de serveurs neufs</br></br>
            <h3 class="servicespharmagest">Les techniciens itinérants :</h3>
            qui sont en charge des installations du matériels neuf et la maintenance des produits installés.</br></br>
            <h3 class="servicespharmagest">Le Service d'Assistance Technique Régional, A.T.R. :</h3>
            qui se charge du Helpdesk qui centralise les appels des pharmacies et agit
            avec la prise à distance ou s'il est dans l'incapacité de répondre au problème doit se rapprocher de l'ESEC (Répond à la norme ISO), 
            European Service Expert Center, ou de déclencher une intervention sur site au près des techniciens itinérants.</ol>
                        
          </div>

          <video class="videoslide2" muted autoplay loop width="70%" height="100%">      
          <source src="./vidéos/pharmagestservices.mp4" type="video/mp4">
        </video>

        </div>
        </span>

        <span class="slidespharmagest">
          <div class="slidespharmagest3">
            <div class="infoslides3pharmagest">
              <h2>La cooperative Welcoop</h2>
              <a href="https://www.lacooperativewelcoop.com/" style="color: #70b121; text-align: center; margin-bottom: 2%; display: block;">
                (Voir le site)</a></br>
              "Le  Groupe  Pharmagest  est  le  leader  français  de  l’informatique de  santé  avec  plus  de  44%  de  parts  de  marché  en 
              informatique  de pharmacie  officinale,  28%  des  EHPAD,  43%  des  HAD,  20%  des  maisons  de  santé.  Avec  plus  de  1.000  
              collaborateurs,  la  stratégie  du Groupe Pharmagest s’articule autour d’un cœur de métier : l’innovation informatique au service
              de la Santé et le développement de 2 axes prioritaires  :  1/  les  services  et  technologies  à  destination  des  professionnels
              de  santé  ;  2/  les  domaines  technologiques  capables d’améliorer l’efficience des systèmes de santé"</br></br>
              <b>Source :</b>Communiqués de presse de Pharmagest, CA 2019 </br><a href="https://pharmagest.com/wp-content/uploads/PHARMAGEST_COMMUNIQUE_20200206_CA-2019.pdf">voir la source</a>
              
  </div>
            <video class="videoslide3" muted autoplay loop width="70%" height="100%">      
            <source src="./vidéos/welcoop.mp4" type="video/mp4">
           </video>
          </div>
          </span>


        <a class="prevpharmagest" onclick="plusSlidess(-1)">&#10094;</a>
        <a class="nextpharmagest" onclick="plusSlidess(1)">&#10095;</a>
    </div>
    <div style="text-align: center">
        <span class="dotpharmagest" onclick="currentSlides(1)"></span>
        <span class="dotpharmagest" onclick="currentSlides(2)"></span>
        <span class="dotpharmagest" onclick="currentSlides(3)"></span>
    </div>

    <div style="text-align: center; margin-top: 2%;"><b>Cliquez sur un jour du calendrier pour accéder à l'emplacement du rapport journalier correspondant</b></div>

    <div style="margin-top: 2%;"></div>
    <!-- Calendrier-->
    <div class="containerstage" id="calendrier">
        <span class="slides">
        <div class="calendar">
          <h2>Janvier</h2>
          <table>
            <thead>
              <tr>
                <td>Lundi</td>
                <td>Mardi</td>
                <td>Mercredi</td>
                <td>Jeudi</td>
                <td>Vendredi</td>
                <td>Samedi</td>
                <td>Dimanche</td>
                <td></td>
                <td>Légende</td>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="prev-month">28</td>
                <td class="prev-month">29</td>
                <td class="prev-month">30</td>
                <td class="prev-month">31</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td></td>
                <td class="atelier">Atelier</td>
              </tr>
              <tr>
                <td class="atelier"><a href="#4" id="to4">4</a></td>
                <td class="atelier"><a href="#5" id="to5">5</a></td>
                <td class="formation"><a href="#6" id="to6">6</a></td>
                <td class="hotline"><a href="#7" id="to7">7</a></td>
                <td class="hotline"><a href="#8" id="to8">8</a></td>
                <td><a href="#9" id="to9">9</a></td>
                <td><a href="#10" id="to10">10</a></td>
                <td></td>
                <td class="hotline">Hotline</td>
              </tr>
              <tr>
                <td class="tech"><a href="#11" id="to11">11</a></td>
                <td class="tech"><a href="#12" id="to12">12</a></td>
                <td class="hotline"><a href="#13" id="to13">13</a></td>
                <td class="tech"><a href="#14" id="to14">14</a></td>
                <td class="tech"><a href="#15" id="to15">15</a></td>
                <td><a href="#16" id="to16">16</a></td>
                <td><a href="#17" id="to17">17</a></td>
                <td></td>
                <td class="tech"><p style="font-size: 14px; margin: 0;">Technicien</p></td>
                   
              </tr>
              <tr> 
                <td class="hotline2"><a href="#18" id="to18">18</a></td>
                <td class="tech"><a href="#19" id="to19">19</a></td>
                <td class="tech" ><a href="#20" id="to20">20</a></td>
                <td class="hotline"><a href="#21" id="to21">21</a></td>
                <td class="tech"><a href="#22" id="to22">22</a></td>
                <td><a href="#23" id="to23">23</a></td>
                <td><a href="#24" id="to24">24</a></td>
                <td></td>
                <td class="hotline2">niv 2</td>
              </tr>

              <tr>
                <td class="atelier"><a href="#25" id="to25">25</a></td>
                <td class="hotline"><a href="#26" id="to26">26</a></td>
                <td class="hotline"><a href="#27" id="to27">27</a></td>
                <td class="tech"><a href="#28" id="to28">28</a></td>
                <td class="tech"><a href="#29" id="to29">29</a></td>
                <td><a href="#30" id="to30">30</a></td>
                <td><a href="#31" id="to31">31</a></td>
                <td></td>
                <td class="formation"><p style="font-size: 14px; margin: 0;">Formation</p></td>
              </tr>
              <tr>
                <td class="next-month">1</a></td>
                <td class="next-month">2</a></td>
                <td class="next-month">3</td>
                <td class="next-month">4</td>
                <td class="next-month">5</td>
                <td class="next-month">6</td>
                <td class="next-month">7</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        </span>


        <!--------------------------------------------2e slide------------------------------------------------------------------------>
        <span class="slides">
          <div class="calendar">
            <h2>Février</h2>
            <table>
              <thead>
                <tr>
                  <td>Lundi</td>
                  <td>Mardi</td>
                  <td>Mercredi</td>
                  <td>Jeudi</td>
                  <td>Vendredi</td>
                  <td>Samedi</td>
                  <td>Dimanche</td>
                  <td></td>
                <td>Légende</td>
                </tr>
              </thead>
  
              <tbody>
                <tr>
                  <td class="tech"><a href="#1f" id="to1f">1</a></td>
                  <td class="tech"><a href="#2f" id="to2f">2</a></td>
                  <td class="formation"><a href="#3f" id="to3f">3</a></td>
                  <td class="tech"><a href="#4f" id="to4f">4</a></td>
                  <td class=""><a href="#5f" id="to5f">5</a></td>
                  <td><a href="#6f" id="to6f">6</a></td>
                  <td><a href="#7f" id="to7f">7</a></td>
                  <td></td>
                  <td class="atelier">Atelier</td>
                </tr>
                <tr>
                  <td class="tech"><a href="#8f" id="to8f">8</a></td>
                  <td class="hotline"><a href="#9f" id="to9f">9</a></td>
                  <td class="tech"><a href="#10f" id="to10f">10</a></td>
                  <td class="tech"><a href="#11f" id="to11f">11</a></td>
                  <td class="tech"><a href="#12f" id="to12f">12</a></td>
                  <td><a href="#13f" id="to13f">13</a></td>
                  <td><a href="#14f" id="to14f">14</a></td>
                  <td></td>
                  <td class="hotline">Hotline</td>
                </tr>
                <tr>
                  <td class="tech"><a href="#15f" id="to15f">15</a></td>
                  <td class="current-day"><a href="#16f" id="to16f">16</a></td>
                  <td><a href="#17f" id="to17f">17</a></td>
                  <td><a href="#18f" id="to18f">18</a></td>
                  <td><a href="#19f" id="to19f">19</a></td>
                  <td>20</td>
                  <td>21</td>
                  <td></td>
                  <td class="tech"><p style="font-size: 14px; margin: 0;">Technicien</p></td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                  <td></td>
                  <td class="hotline2">niv 2</td>
                </tr>
  
                <tr>
                  <td class="next-month">1</a></td>
                  <td class="next-month">2</a></td>
                  <td class="next-month">3</td>
                  <td class="next-month">4</td>
                  <td class="next-month">5</td>
                  <td class="next-month">6</td>
                  <td class="next-month">7</td>
                  <td></td>
                  <td class="formation"><p style="font-size: 14px; margin: 0;">Formation</p></td>
                </tr>

                <tr>
                  <td class="next-month">8</a></td>
                  <td class="next-month">9</a></td>
                  <td class="next-month">10</td>
                  <td class="next-month">11</td>
                  <td class="next-month">12</td>
                  <td class="next-month">13</td>
                  <td class="next-month">14</td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
          </div>
          </span>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <!-- end calendar -->
    </div>
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>



    <div class="history-tl-container">
        <ul class="tl">
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="4">
                    Lundi 04/01/21
                </div>
                <div class="item-title">Atelier</div>
                <div class="item-detail">La première moitié de journée était consacrée à l'inventaire, Le midi à la découverte des employés du site : j'ai pu manger sur site avec tous les employés pour faire connaissance et découvrir les différents services, chacun s'est présenté.
                    Pendant l'après midi un employé de l'atelier m'a éxpliqué le matériel qu'utilise l'entreprise pour les pharmacies :</br>Serveur || Ordinateurs ||Routeur || Switch || Lecteur de carte vitale || imprimantes || Scanners et m'ont expliqué
                    leur choix.</div>
            </li>

            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="5">
                    Mardi 05/01/21
                </div>
                <div class="item-title" id="5">Atelier</div>
                <div class="item-detail">Ce Mardi 5 Janvier des employés de l'atelier m'ont fait une démonstration de la configuration d’un serveur sous linux CENTOS et m'ont expliqué les différents services ainsi que les différents types de serveurs (productions(renouvellement),
                    suivis, SAV, robot). Suite à ça je me suis entrainé sur un serveur test dans le but de me former aux commandes de base Linux avec leur documentation et aussi pour me familisariser de manière générale à Linux.

                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="6">
                    Mercredi 06/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">Lors de ma 3e journée de stage j'ai assité à une formation présentée par un technicien qui a simulé une installation dans une pharmacie afin de nous expliquer comment installer la solution de pharmagest. Lors de celle-ci j'ai pu découvrir
                    comment installer les différents appareils : scanners (AVISION 225), imprimantes (TMH6000IV (EPSON) / (fictive) Brother5100 et une Brother (pour le logiciel Posonet), lecteur de carte vitale sur le logiciel LGPI mais également découvrir
                    les outils comme Clonezilla, ackronys et WPI qui permettent de cloner une image et de configurer un nouvel équipement rapidemment avec des automatismes. J'ai découvert également le protocole de partage SAMBA dans le cadre du partage
                    d'une imprimante qui n'est pas en réseau mais aussi le gestionnaire de sauvegarde RMAN ainsi que leurs configurations.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="7">
                    Jeudi 07/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">Lors de cette journée j'ai été dans le service Helpdesk dans lequel j'ai pu partager avec un technicien de niveau 1, j'ai pu écouter les discussions avec le client, dialoguer avec lui sur certaines interrogations et problèmes rencontrés.
                    Il m'a fait part de sa méthodologie lui permettant de comprendre au mieux le problème du client par des tests qu'il effectuait et un discours precis avec le client formé en amont à la compréhenssion du vocabulaire lié au matériel.
                    Nous avons discuté des solutions que Pharmagest met en place, des types de pannes qu'il rencontre et des outils/ moyens qu'il dispose afin d'y répondre au mieux : Prise à distance, logiciel de ticket, hotline, technicien ...</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="8">
                    Vendredi 08/01/21
                </div>
                <div class="item-title">Hotline</div>
                <div class="item-detail">
                    journée similaire à celle de la veille : prise de contact avec les clients, assistance et dialogue sur l'informatique. A ce jour un problème lié au DHCP m'a marqué, le problème était que les produits venant de APPLE prenaient une @IP en 169 (donc une
                    addresse apipa) contrairement aux autres appareils venant de chez lenovo qui prenaient automatiquement une configuration ip en 192.168.0.X . La finalité étant que le réseau wifi avait une clef de sécurité trop forte pour les appareils
                    provenant de chez la marque Apple. On a donc crée un 2e WAN avec une sécurité moindre spécialement pour ces appareils.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="11">
                    Lundi 11/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Lors de ce lundi 11 janvier j'ai été placé dans le service des techniciens itinérants, nous sommes allés sur Lens à la pharmacie du Cantin, Béthune à la pharmacie du Perroy et Ecourt Saint Quentin à la pharmacie Brandicourt afin d'intervenir sur un changement
                    de routeur, un problème lié à une mauvaise configuration dans le BIOS et à un changement d'imprimante
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="12">
                    Mardi 12/01/21
                </div>
                <div class="item-title" id="5">Technicien</div>
                <div class="item-detail">
                    Lors de ce Mardi 12 Janvier j'ai passé ma journée avec un technicien itinérant à la pharmacie Martin à Ferin pour un renouvellement d'une bonne partie du parc informatique : Imprimante/ un scanner/ une TMH/ 2 switchs 8 ports/ 4 Pcs et carte lecteur de
                    carte vitale. Le changement à durée la journée, de 8H30 au matin à 17H le soir, nous avons du faire les sauvegardes, changer le matériel, restaurer les sauvegardes, effectuer les configurations sur le nouveau matériel déjà prêt à l'emploi,
                    préparé par les hommes de l'atelier en amont.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="13">
                    Mercredi 13/01/21
                </div>
                <div class="item-title" id="5">Hotline</div>
                <div class="item-detail">Lors de cette journée j'ai été dans le service helpdesk avec les hotliners, une intervention qui m'a bien plu a été la configuration à distance d'une box Orange : configuration du DHCP</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="14">
                    Jeudi 14/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Nous avons remplacé tout le parc informatique par du nouveau matériel, soit 6 pcs complet, en passant par un transfert serveur pour changer celui-ci, nous avons aussi vérifié la sauvegarde RMAN du NAS et la sécurité de celui-ci.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="15">
                    Vendredi 15/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Dépannage d’une imprimante sur le Portel et prise de contact avec une cliente afin d'organiser l'intervention du lundi 18 au matin.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="18">
                    Lundi 18/01/21
                </div>
                <div class="item-title">Technicien de niveau 2</div>
                <div class="item-detail">
                    J’ai été à l’atelier au matin, j’ai continué de m’entrainer à l’environnement linux et effectué des tests consistant à effectuer des Visios des pharmacies dépannés auparavant. L'après midi j’ai été avec le technicien de niveau 2. Un dépannage qui m'a
                    marqué à été de trouver pourquoi un des serveurs sous linux d’une pharmacie ne chargeait pas la couche graphique.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="19">
                    Mardi 19/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">Lors de ce Mardi 19 Janvier nous sommes allés dépanner avec un technicien itinérant 2 imprimante et 2 scanners sur Avelin pour ensuite revenir à l’agence et terminer notre journée par de la hotline.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="20">
                    Mercredi 20/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">Ce mercredi 20 Janvier j’ai effectué de la Hotline, un exemple de problème que j’ai pus traiter à été un problème DHCP, la plage d’adresse de celle-ci était pleine, les nouveaux appareils obtenaient donc une @IP en 169 (APIPA). Lors du
                    midi nous nous sommes occupés d’un transfert sur Lambres, nous avons dû vérifier l’état de celui-ci au préalable à l’atelier pour ensuite effectuer le transfert lors des horaires de fermeture de la pharmacie au midi.</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="21">
                    Jeudi 21/01/21
                </div>
                <div class="item-title">Hotline</div>
                <div class="item-detail">
                    La journée à été consacré à de la hotline avec un des techniciens ATR.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="22">
                    Vendredi 22/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    nous sommes allés à Lille, Wasquehall et Loss pour intervenir respectivement sur des renouvellement d'imprimantes ainsi que nous avons fini par un problème de lecteur de carte vitale.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="25">
                    Lundi 25/01/21
                </div>
                <div class="item-title">Atelier</div>
                <div class="item-detail">
                    Transfert serveur au midi ainsi que de la hotline. La fin de journée/soirée à été consacré à un visio avec les hauts dirigeant pour les voeux de la nouvelle année et de remotiver les équipes aux nouveux défis de 2021
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="26">
                    Mardi 26/01/21
                </div>
                <div class="item-title">Hotline</div>
                <div class="item-detail">La journée à été perturbé par l'apparition de cas de COVID-19 révélé dans l'entreprise, la journée été consacré à la gestion de ce problème.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="27">
                    Mercredi 27/01/21
                </div>
                <div class="item-title">Hotline</div>
                <div class="item-detail">
                    Durant cette journée je suis restait avec les hotlineurs. Un appelle qui ma marqué à été un appelle au sujet d'une imprimante multibac mal configuré, celle-ci imprimait les cerfas sur les feuilles blanches.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="28">
                    Jeudi 28/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Nous avons éffectué un transfert serveur au midi, un dépannage pour un problème de réseau, le DHCP était complet ainsi qu'un dépannage pour un problème d'offimédia (petits écrans qui diffusent des informations comme par éxemple les gestes barrières) qui
                    ne s'allumait pas, le problème venait du driver qui n'était pas à jour.


                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="29">
                    Vendredi 29/01/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Livarison du matériel relatif au renouvellement du parc informatique de l'officine de l'avenue de Cuincy ainsi qu'un dépnnage d'une imprimante multifontction à l'officine lafayette à Douai.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="1f">
                    Lundi 01/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Renouvellement du parc informatique sur 2jours : </br>Renouvellement de : 7pcs, 3 imprimantes de comptoire, du serveur, du nas, de l'onduleur, de 6 lecteures de carte vitale et de 6 scanners
                </div>
            </li>

            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="2f">
                    Mardi 02/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    2e journée du renouvellement
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="3f">
                    Mercredi 03/02/21
                </div>
                <div class="item-title">Formation</div>
                <div class="item-detail">
                    Journée dédié à former les techniciens sur la mise en place des étiquettes éléctroniques.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="4f">
                    Jeudi 04/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Lors de cette journée nous sommes allés dépanner un switch et un lecteur de code barre tombés en panne, changer des ordinateurs et dépanner d'urgence un serveur tombé en panne.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="5f">
                    Vendredi 05/02/21
                </div>
                <div class="item-title">?</div>
                <div class="item-detail">
                    ..
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="8f">
                    Lundi 08/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    J'ai éffectué de la hotline au matin et et nous sommes intervenu pour un changement d'imprimante l'après-midi
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="9f">
                    Mardi 09/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    J'ai éffectué de la hotline au matin et et nous sommes intervenu pour un changement de lecteur de code barre et point d'accés sur armentierres
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="10f">
                    Mercredi 10/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    nous avons installés à Mericourt 5 pcs ainsi que leur lecteurs de carte vitale associé, 1 NAS et une imprimante.
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="11f">
                    Jeudi 11/02/21
                </div>
                <div class="item-title">?</div>
                <div class="item-detail">
                    ..
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="12f">
                    Vendredi 12/02/21
                </div>
                <div class="item-title">Technicien</div>
                <div class="item-detail">
                    Cette journéè été dédié a une intervention sur morly-gomont pour un problème de fax et un échange de matériel avec un autre technicien sur Laon
                </div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp" id="15f">
                    Lundi 15/02/21
                </div>
                <div class="item-title">Formation</div>
                <div class="item-detail">
                    Lors de cette journée j'ai eu la responsabilité de former un nouveau stagiaire pour lui expliquer et lui montrer l'informatique qu'il verrai à l'entreprise Pharmagest.
                </div>
            </li>
            <!---
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp" id="16f">
              Mardi 16/02/21
            </div>
            <div class="item-title">?</div>
            <div class="item-detail">
              ..
            </div>
          </li> 
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp" id="17f">
              Mercredi 17/02/21
            </div>
            <div class="item-title">?</div>
            <div class="item-detail">
              ..
            </div>
          </li> 
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp" id="18f">
              Jeudi 18/02/21
            </div>
            <div class="item-title">?</div>
            <div class="item-detail">
              Journée actuel
            </div>
          </li> 
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp" id="19f">
              Vendredi 19/02/21
            </div>
            <div class="item-title">?</div>
            <div class="item-detail">
              ..
            </div>
          </li> ---->
        </ul>
    </div>

    <div style="clear: both; width: 100%;height: 2em;"></div>

    <footer>
        <ul>
          <li class="titlefooter">About Me</li>
          <li><i class="fas fa-map-marked-alt"></i> Hauts de France/ Douai</li>
          <li>&#x1F588; : 119 rue de la tour de Bourgogne 59500 </li>
          <li style="font-size: 15px; color: red;">&#x2706; : 06.89.45.70.26</li>
          <li>&#128231; : jean.paris.pro@gmail.com</li>
          
        </ul>
        <div class="main center">
          <div class="icon center">
            <a  href="https://www.linkedin.com/in/jean-paaris/" class="fab fa-linkedin fa-2x" style="text-decoration: none;"></a>
          </div>
          <div class="icon center">
            <a href="https://www.instagram.com/jean59paris/" class="fab fa-instagram fa-2x" style="text-decoration: none;"></a>
          </div>
        </div>
  
        <ul>
          <li class="titlefooter">Informatique</li>             
          <li>
            <div class="langue" style="margin-right: 15px;"><i class="fas fa-language"></i></div>
            <div class="langue fr"></div><div class="langue langue_niveauFr">Courant</div>
            <div class="langue esp"></div><div class="langue langue_niveau">B1</div>
            <div class="langue ang"></div><div class="langue langue_niveau">B1</div>
            <div style="clear: both;"></div>
          </li>
          <li><i class="fas fa-server"></i> <i class="fas fa-network-wired"></i> Spécialité, objectif master</li>
          <li><i class="fas fa-code"></i> <i class="fas fa-database"></i> Loisir/ pour mon site</li>
          <li><i class="fas fa-user-shield"></i> <i class="fas fa-unlock-alt"></i> Objectif apres le master</li>
        </ul>
  
        <ul>
          <li class="titlefooter">Other</li>
          <li><i class="fas fa-car"></i> Permis B/ Voiture</li>
          <li><a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:bd9c33be-9578-46c2-90ec-b214654601e9" style="font-size: 20px; font-weight: initial; color: red; text-decoration: none;"><i class="far fa-address-card"></i> CV</a></li>
          <li><i class="fas fa-birthday-cake"></i> 19ans</li>
        </ul>
      </footer>


    <script src="./javascript/pharmagest.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./javascript/deroulant.js"></script>
    <script src="./javascript/slide.js"></script>
    <!-- end container -->
    </div>
</body>

</html>